<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="API Tests">
        <packages>
            <package name="Read"/>
            <package name="Create"/>
            <package name="Update"/>
            <package name="DELETE"/>
        </packages>
    </test>
</suite>
